<div class="question col-sm-8 col-sm-offset-2">

    <h3>{{question.title}}</h3>
    <hr>

    <div class="vote-counter">
        <div class="glyphicon glyphicon-chevron-up"></div>
        <div>
            1
        </div>
        <div class="glyphicon glyphicon-chevron-down"></div>
    </div>

    <div class="col-sm-offset-1">
        {{question.content}}
        <div class="text-left">
            <div class="tag" ng-repeat="tag in question.tags">
                <span class="glyphicon glyphicon-tag" ></span> {{tag.name}}
            </div>
        </div>
        <div class="question-detail">
            asked by <span style="color:blue">AUTHOR</span> time
            <time title="{{ question.created_at | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}" am-time-ago="question.created_at"> </time>
            <span ng-if="main.isAuthorized" ng-controller="QuestionController as questions">
            | <a href="#!/questions/{{question.id}}/edit"><span style="color:darkorange"> edit</span> </a>|

            <a href="javascript:void(0);"> <span style="color:red" ng-click="questions.delete(question.id)">delete</span></a>
        </span>
        </div>
    </div>

    <h4 style="clear:both"><br>Count Answer(s)</h4>
    <hr>
</div>