<div class="col-sm-8 col-sm-offset-2">

    {{search.test}}

    <h3>Search</h3>
    <form>
        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search" ng-model="search.query">
            <div class="input-group-btn">
                <button class="btn btn-default" ng-click="main.search(search.query)">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </div>
        </div>
    </form>

    <h3 ng-if="search.query">
        {{search.total}}
        <span ng-if="search.total < 2"> result</span>
        <span ng-if="search.total > 1"> results</span>
        <hr>
    </h3>

    <div class="loader text-center" ng-if="search.loading"></div>
    <div class ="questions" ng-repeat="question in search.questions">
        <div class="votes">
            {{question.voteCounts}}
            <div>
                votes
            </div>
        </div>
        <div class="answers">
            {{question.answerCounts}}
            <div>
                answers
            </div>
        </div>
        <div class="summary col-sm-offset-2">
            <div class="question-title">
                <a href="#!/questions/{{question.id}}">{{question.title}}</a>
            </div>

            <div class="question-content">
                {{question.body}}
            </div>
            <div class="text-left">
                <div class="tag" ng-repeat="tag in question.tags">
                    <a ng-href="#!/questions/tagged/{{tag.name}}"><span class="glyphicon glyphicon-tag"></span> {{tag.name}} </a>
                </div>
            </div>

            <div class="question-detail">
                {{question.status}} by <span style="color:blue">{{question.author.name}}</span>
                <time title="{{ question.updated_at | amDateFormat: 'dddd, MMMM Do YYYY, h:mm a' }}" am-time-ago="question.updated_at"> </time>
                <span ng-if="question.editable" ng-controller="QuestionController as questions">
                    | <a href="#!/questions/{{question.id}}/edit"><span style="color:darkorange"> edit</span> </a>|

                     <a href="javascript:void(0);"> <span style="color:red" ng-click="questions.delete(question.id)">delete</span></a>
                </span>
            </div>
        </div>
        <hr>
    </div>

    <div class="container">
        <ul class="pagination">
            <li ng-if="!search.loading && search.currentPage"><a ng-href="#!/search?q={{search.query}}&page=1">«</a></li>
            <li ng-repeat="page in search.pages" ng-class="{'active' : page===search.currentPage}">
                <a ng-href="#!/search?q={{search.query}}&page={{page}}">{{page}}</a>
            </li>
            <li ng-if="!search.loading && search.currentPage"><a ng-href="#!/search?q={{search.query}}&page={{search.lastPage}}">»</a></li>
        </ul>
    </div>

</div>

